*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
body{
    background-image: url(453.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul li a:hover{
    background-color: #8b0000;
    color: #fff;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.titale{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.titale h1{
    color: rgb(0, 0, 0);
    font-size: 60px;
}
.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #8b0000;
    color: #fff;
}